@media screen and (max-width:480px){
    .container{
        max-width: 335px;        
            }
   body{
    header{
        nav{
            .container{
                gap: 100px;
              label{
                display: block;
            }
            .nav-left{
                height: 30px;
                gap: 0;
                .logo{
                    img{
                        width: 138.017px;
                        height: 30px;
                    }
                }
                .menu{
                    width: 0;
                }
            }
            .nav-reght{
                gap: 18px;
                a:nth-child(2){
                    display: none;
                }
            }
            input:checked +.nav-left>.menu{
                width: 100px;
                position: absolute;
            }
            }
        }
        #hero{
            .container{
                .hero{
                    gap: 26px;
                    flex-direction: column-reverse;
                    .hero-right{
                        display: none;
                    }
                    .media-img{
                        display: inline-block;
                        width: 335px;
                        height: 231.07px;
                        flex-shrink: 0;
                        border-radius: 12.5px;
                        background: url("img/main-screen2.svg");
                        background-position: center;
                        background: size 350px;;
                    }
                    .hero-left{
                        max-width: 335px;
                        padding: 0;
                        .text{
                            h1{
                                font-size: 31px;
                                line-height: 120%;
                            }
                            p{
                                height: 81px;
                                font-size: 18px;
                                line-height: 150%;
                                overflow: hidden;
                            }

                        }
                        a{
                            max-width: 335px;
                        }
                    }
                }
            }
        }

    }
    main{
         #feature{
            .container{
                gap: 40px;
                .text{
                    align-items: start;
                    gap: 20px;
                    h2{
                        text-align: start;
                        font-size: 30px;
                    }
                    p{
                        text-align: start;
                        font-size: 14px;
                    }
                }
                .card-box{
                    gap: 35px;
                    .card{
                        flex-direction:row; 
                        align-items: start;
                        .text{
                            align-items: start;
                            gap: 9px;
                            h3{
                                text-align: start;
                            }
                            p{
                                text-align: start;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
        #screenshots{
            .container{
                gap: 60px;
                .a1{
                    gap: 30px;
                   .text{
                    max-width: 335px;
                    gap: 20px;
                    h2{
                        max-width: 335px;
                        font-size: 30px; 
                        line-height: normal
                    }
                    p{
                        font-size: 14px;
                        line-height: 140%;
                    }
                   }
                   .div{
                    max-width: 335px;
                    max-height: 228px;
                    background-size: 410px;
                    background-color: #FFF;
                   }
                }
                .a2{
                    gap: 30px;
                    flex-direction: column-reverse;
                   .text{
                    max-width: 335px;
                    gap: 20px;
                    h2{
                        max-width: 335px;
                        font-size: 30px; 
                        line-height: normal
                    }
                    p{
                        font-size: 14px;
                        line-height: 140%;
                    }
                   }
                   .div{
                    max-width: 335px;
                    max-height: 228px;
                    background-size: 410px;
                    background-color: #FFF;
                   }
                }
                .a3{
                    gap: 30px;
                   .text{
                    max-width: 335px;
                    gap: 20px;
                    h2{
                        max-width: 335px;
                        font-size: 30px; 
                        line-height: normal
                    }
                    p{
                        font-size: 14px;
                        line-height: 140%;
                    }
                   }
                   .div{
                    max-width: 335px;
                    max-height: 228px;
                    background-size: 410px;
                    background-color: #FFF;
                   }
                }
            }
        }
    }
   }
}